@charset "UTF-8";

/*cores:
   Azul: #1A7FBD
   Azul Light: #A4DCFF
   Preto: #000
   Branco: #FFF
   */

@import url('https://font.google.com/noto/specimen/Noto+Sans?query-noto');


* {
    font-family: ;
    margin: 0px;
    padding: 0px
    
}
html, body {
    min-height: 150px;
    background-color: #1a7fbd;
    

}
header {
    background-color: #1a7fbd;
    min-height: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #fff;
    padding-top: 15px;
    padding-bottom: 1px;


}
i#burguer {
    background-color: gray;
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
i#burguer:hover {
    background-color: #fff;
    color: #000;
}

menu {
    display: block;
}
menu > ul {
    color: #fff;
    list-style-type: none;

}
menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-top: 2px solid gray;
}
menu > ul > li > a:hover {

}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}
