@charset "UTF-8";

/*cores:
   Azul: #1A7FBD
   Azul Light: #A4DCFF
   Preto: #000
   Branco: #FFF
   */

@import url('https://font.google.com/noto/specimen/Noto+Sans?query-noto');


* {
    font-family: 'noto', Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
html, body {
    min-height: 150px;
    height: 100px;
    background-color: #1a7fbd;


}
header {
    background-color: #1a7fbd;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 1px;
    box-shadow: 0px 0px 7px #000;


}
header > div
main {
    position: relative;
    height: 100vh;
    width: 100vh;
}
/*i#burguer {
    background-color: gray;
    color: #fff;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}
i#burguer:hover {
    background-color: #fff;
    color: #000;
}

menu {
    display: block;
}
menu > ul {
    color: #fff;
    list-style-type: none;

}
menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    text-align: center;
    border-top: 2px solid gray;
}
menu > ul > li > a:hover {

}*/
section#projeto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50% 50%);
    background-color: #1a7fbd;
    color: #fff;
    width: 250px;
    height: 500px;

}
section#projeto > div#imagem {
    background: #1a7fbd url(../imagens/bannertopo.png) no-repeat;
    background-size: contain;
    height: 200px;
} 

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}
